
*{
  margin:0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}s


body{
  margin: 0 0 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

div ul a .navigation{
  color: blue;
}

div .navigation{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 70px;
  overflow-x: auto;
  box-shadow: 0 0 9px rgb(203, 203, 207);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navcontainer{
      font-size:15px;
      display: block;
      width: 100%;
      height: 80px;
      bottom:0;
      background-color: red;
      color: blue;
      position: fixed;
      border-radius: 10px;
      box-shadow: 0 0 9px red;
    }

.navigation ul{
  display: flex;
  width: 350px;
}

.navigation ul li{
  position: relative;
  list-style: none;
  width: 100%;
  height: 70px;
  z-index: 1;
}

.navigation ul li a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.navigation ul li a .text{
  position: absolute;
  color: blue;
  font-weight: 900;
  font-size: 15px;
  transition: 0.5s;
  opacity: 1;
  transform: translatey(30px);
}

.navigation ul li:hover a .text{
  background-color: rgb(79, 79, 255);
  padding: 25px 10px;
  color: white;
  border-radius: 15px;
} 